#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding-top:15px;
  padding-bottom: 15px;
  border-radius: 5px; 
  margin-bottom: 30px
}

.nav-bar-content{
  transition : 0.6s; 
  cursor:pointer;
}

.nav-bar-content:hover{
  color: darkgrey ;
}

.book-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  /* width: 30%;s */
  align-items: center;
  column-gap: 10px;
}

.book-details {
  display: flex;
  flex-direction: column;
  border: solid white 1px;
  border-radius: 7px;
  height: 100%;
  transition: 0.3s;
}

.book-details:hover{
  background-color: rgba(255, 255, 255, 0.156);
}

.book-name{
  font-weight: bold;
  padding: 10px ;
}

@media(max-width:600px){
  .book-list{
    grid-template-columns: 1fr 1fr;
  }
}
